<div id="navbar">
  <div id="logo">
    <h3>
      Money Exchange Rate
    </h3>
  </div>

  <nav *ngIf="isLogged">
    <button mat-icon-button id="menu" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>lock</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </nav>

  
</div>