#navbar{
    width: 100vw;
    background-color: #fa7;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color:white;
    padding-left: 1rem;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

#menu{
    position: absolute;
    right: 30px;
    top:10px;
}
